.doctor-section-container{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    .header{
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name-of-section{
            font-size: 30px;
            font-weight: 500;
        }

        .learn-more{
            font-size:20px;
            text-decoration: none;
            background-color: rgb(171, 221, 221);
            color: rgb(46, 131, 58);
            padding: 8px;
            border-radius: 7px;
            border: none;
            font-weight: 600;
        }
    }


}
