.search-section{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .lable{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .search-input{
            width: 1000px;
            height: 30px;
            padding: 10px;
            border-radius: 5px;
            border-width: 1px;
            border-color: gray;
        }

        .search-icon{
            position: absolute;
            width: 35px;
            overflow: hidden;
            right: 10px;
        }
    }
}