.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .name-of-section{
        font-size: 30px;
        font-weight: 700;
    }

    .learn-more{
        font-size:20px;
        text-decoration: none;
        background-color: rgb(171, 221, 221);
        color: rgb(46, 131, 58);
        padding: 8px;
        border-radius: 7px;
        border: none;
        font-weight: 600;
    }
}