.scroll-container{
    position: relative;
    .list-container{
        display: flex;
        gap: 15px;
        margin-top: 30px;
        position: relative;
        overflow-x: auto;
        scroll-behavior: smooth;
        max-width: 1200px;
        padding: 5px;
        &::-webkit-scrollbar{
            display: none;
        }
        .item-container{
            display: flex;
            flex-direction: column;
            border-color: rgb(141, 51, 51);
            border-width: 2px;
            border-radius: 5px;
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
            padding: 5px;
            width: 380px;
            height: 380px;
            justify-content: center;
            align-items: center;
            .img{
                border-color: gray;
                border-width: 1px;
                width: 200px;
                height: 200px;
            }
            .name{
                font-size: 30px;
                font-weight: 500;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
    }

    .right-button{
        width: 50px;
        position: absolute;
        right: 36px;
        top: 50%;
        transform: scaleX(-1);
    }

    .left-button{
        width: 50px;
        position: absolute;
        left: 36px;
        top: 50%;
    }
}