.scroll-container{
    position: relative;
    .list-container{
        display: flex;
        gap: 20px;
        margin-top: 30px;
        position: relative;
        overflow-x: auto;
        scroll-behavior: smooth;
        width: calc(360px * 3 + 25px * 2);
        padding: 5px;
        &::-webkit-scrollbar{
            display: none;
        }
        .item-container{
            display: flex;
            flex-direction: column;
            border-color: rgb(141, 51, 51);
            border-width: 2px;
            border-radius: 5px;
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            flex: 0 0 322px;
            justify-content: center;
            align-items: center;
            .img{
                object-fit: contain;
                border-color: gray;
                border-width: 1px;
                width: 250px;
                height: 150px;
                
            }
            .name{
                margin-top: 20px;
                text-align: center;
                line-height: 1.4;
                font-size: 22px;
                font-weight: 500;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }

    .right-button{
        width: 50px;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: scaleX(-1);
    }

    .left-button{
        width: 50px;
        position: absolute;
        left: -20px;
        top: 50%;
    }
}