.search-section-in-search-page{
    align-items: start;
    .search-container-in-search-page{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .search-input{
            width: 1000px;
            height: 30px;
            padding: 10px;
            border-radius: 5px;
            border-width: 1px;
            border-color: gray;
        }

        .search-icon{
            position: absolute;
            width: 35px;
            overflow: hidden;
            right: 10px;
            cursor: pointer;
        }

        .search-icon:hover{
            width: 40px;
        }
        .search-icon:active{
            opacity: 0.5;
        }
    }

    .list-of-results{
        .item{
            display: flex;
            align-items: start;
            img{
                width: 50px;
            }
        }
    }
}