.booking-container {
  max-width: 700px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  padding: 30px;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  .booking-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    .booking-lable{
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      opacity: 0.6;
      font-family:Georgia, 'Times New Roman', Times, serif;
      
    }
    .doctor-avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }

    .booking-info {
      display: flex;
      gap: 50px;
      h3 {
        margin: 0;
        color: #999;
        font-size: 14px;
      }

      h2 {
        margin: 6px 0;
        color: #0071ba;
        font-size: 22px;
      }

      .booking-time {
        margin: 8px 0;
        color: #f5a623;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .booking-clinic {
        strong {
          display: block;
          margin-top: 8px;
        }

        p {
          margin: 4px 0 0;
          color: #555;
        }
      }
    }
  }

  .booking-form {
    margin-top: 20px;

    .price-box {
      width: 220px;
      border: 2px solid #ff9800;
      border-radius: 6px;
      padding: 14px;
      margin-bottom: 20px;
      display: flex;
      align-items:center;
      justify-content: space-between;

      .label {
        display: flex;
        gap: 10px;
        font-weight: 600;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        input{
          margin: 0;
        }
      }

      .price {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .booking-for,
    .gender {
      display: flex;
      gap: 20px;
      margin-bottom: 12px;

      label {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        white-space: nowrap;
        gap: 10px;
        input{
          margin: 0;
        }
      }
      
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px 12px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      box-sizing: border-box;
      &:focus {
        outline: none;
        border-color: #0071ba;
      }
    }

    textarea {
      resize: vertical;
    }

    button {
      margin-top: 10px;
      width: 100%;
      background: #0071ba;
      color: #fff;
      padding: 12px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: darken(#0071ba, 8%);
      }
    }
  }
}
